@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
body {
    margin: 10px;
    background-color: #F5F9FA;
    font-family: 'Bowlby One SC', normal;
    font-size: 90%;
}
.header h2 , p {
  line-height: 0px;
}
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20rem 25rem auto;
  color: #444;
}

.box {
  background-color: #DAD9D4;
  color: black;
  border-radius: 5px;
  padding: 20px;
}
.header{
  grid-column: 1/ span 3;
  grid-row: 1/ span 1;
}
.b {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.a {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.c {
  grid-column: 2 / span 1;
  grid-row: 3/ span 1;
}
.d {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}
.singleView{
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  display: none;
}
div.a section h2{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
ul#galleryList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#galleryList li {
    margin-bottom: 0.25rem;
    cursor: pointer;
}
div.header section{
  display: grid;
}
div.a section {
    display: none;		/* programmatically change this to "grid" when gallery clicked */
    grid-gap: 3px;
    grid-template-columns: 10rem 10rem;	
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
}
div.b section {
    display: none;	  /* go ahead and change this to "block" when you have received data */
    font-size: 110%;
}
div.c section {
    display: none;    /* programmatically change this to "block" when gallery clicked */
}
div.d section{
  display: none;
  
  grid-gap: 10px;
  grid-template-columns: 5rem 12rem 16rem auto;	
  grid-template-rows: auto auto auto auto;	
  text-align: center;
}
div.d section div{
  display: none;
  
  grid-gap: 10px;
  grid-template-columns: 5rem 12rem 16rem auto;	
  grid-template-rows: auto auto auto auto;	
  text-align: center;
}
div.d section h2{
  
  grid-column: 1 / span 4;
}
div.singleView section{
  display: none;
  grid-gap: 2px;
  grid-template-columns: 25rem auto 10rem;
  grid-template-rows: 90px 100px 330px 30px;
}
div.singleView section #paintingImage{
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
}
div.singleView section #paintingImage img{
  height: 550px;
  width: 390px;
}
div.singleView section #paintingTitle{
    grid-column: 2;
    grid-row: 1;
    text-overflow: ellipsis;
}
div.singleView section #titleButton{
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    text-overflow: ellipsis;
}
div.singleView section #titleButton button{
  
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 10px;
}
div.singleView section #paintingInfo{
    grid-column: 2;
    grid-row: 2;
    text-overflow: ellipsis;
}
div.singleView section #buttonDesc{
    grid-column: 3;
    grid-row: 3/ span 1;
    text-align: center;
    text-overflow: ellipsis;
}
div.singleView section #buttonDesc button{
  
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 10px;
}
div.singleView section #paintingDesc{
    grid-column: 2;
    grid-row: 3;
    text-overflow: ellipsis;
}
div.singleView section #closeButton{
    grid-column: 2;
    grid-row: 4;
    text-overflow: ellipsis;
}
div.singleView section #closeButton button{
  
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 10px;
}

h2{
  color: #4B4758;
}

